html {
    font-family: "Bartina", sans-serif;
    font-display: swap;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

button {
    font-family: "Bartina";
    cursor: pointer;
}

footer {
    margin-top: 50px;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: auto;
    }
}
