::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: rgb(33, 33, 33);
}

::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
