@import url(./default/reset.css);
@import url(./default/fonts.css);
@import url(./default/base.css);
@import url(./default/scrollbar.css);

@import url(./hystmodal.css);
@import url(./lightGallery.css);
@import url(./media.css);

header {
    position: relative;
}

a {
    color: whitesmoke;
}

.contacts-block {
    display: flex;
    margin-right: auto;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7rem;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media__text {
    padding-right: 0.2rem;
    text-transform: uppercase;
}

.social-media__btn {
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

.social-media__btn:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in;
}

.telephone {
}

/* ---------- */

.host-event-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-event-wrapper {
    position: relative;
}

.host-event-image {
    border-radius: 2rem;
    width: 35rem;
    margin: 0 auto;
}

.host-event-about {
    position: absolute;
    bottom: 80px;
    left: -260px;
    text-transform: uppercase;
    white-space: nowrap;
}

.host-event-about__name {
    font-size: 6rem;
    font-weight: 800;
}

.host-event-about__activity {
    font-size: 3rem;
    font-weight: 300;
}

.navbar {
    position: absolute;
    top: 20%;
    right: -300px;
    display: flex;
    flex-direction: column;
}

.navbar__btn {
    margin: 5px;
    border-radius: 0.75rem;
    border: 2px solid whitesmoke;
    transition: all 0.3s ease-in;
}

.navbar__btn:hover {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    transition: all 0.3s ease-in;
}

.navbar a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: left;
    padding: 15px 35px;
}

.navbar__btn:hover a {
    color: #555;
    transition: all 0.3s ease-in;
}

/* ---------- */

.info-block {
    margin-top: 130px;
}

.title,
.text {
    font-size: 2rem;
    opacity: 0.85;
    letter-spacing: 0.05rem;
}

.title {
    font-size: 5rem;
    text-transform: uppercase;
}

.about-me-text-block {
    display: flex;
    justify-content: center;
    align-items: start;
}

.about-me-text-block__text {
    padding-right: 20px;
}

.about-me-text-block__image {
    width: 33%;
    border-radius: 2rem;
}

.events-list__item {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: start;
}

.events-list__item img {
    margin-right: 20px;
}

.events-block {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.events-block__video-block {
    width: 500px;
    height: 300px;
}

.events-video-wrapper {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.events-video {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}

.button-gallery-open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: 0.85;
    border: 5px solid whitesmoke;
    padding: 30px 90px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 4rem;
    color: whitesmoke;
}

.button-gallery-open:hover {
    opacity: 1;
    color: #555;
    background-color: whitesmoke;
    transition: all 0.3s ease-in;
}

.button-gallery-open:hover .gallery-icon {
    transform: rotate(360deg);
    transition: all 0.2s ease-in;
}

.emphasis {
    font-size: 3.5rem;
    font-weight: 700;
    opacity: 1;
    color: #29e79b;
}
